
 * {
    padding: 0;
    margin: 0;
  }
  @import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

  body {
    font-family:  "Noto Serif JP", sans-serif, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  .haikei {
    width: 100%;
    background: linear-gradient(
      to top,
      #d59f62 0%,
      #a9783f 50%,
      #734e30 100%
    );
    margin-top: 80px;
  }

  header {
    background-color: #734e30;
    height: 80px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100vw;
    top:0;
    font-family: "Noto Serif JP", sans-serif;
    z-index: 1;
  }
  header a {
    color: white; 
    text-decoration: none; 
    transition: 0.5s;
  }
  header a:hover {
    color: #d59f62;
  }
  .rogo img {
    width: 195px;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 30px;
  }


  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: #734e30;
    height: 30px;
    width: 100%;
    background-color: #d59f62;
    bottom: 0%;
    font-family: 'Noto Serif JP', sans-serif;

  }