
 * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  .haikei {
    width: 100%;
    height: 2000px;
    background: linear-gradient(
      to top,
      #d59f62 0%,
      #a9783f 50%,
      #734e30 100%
    );
    margin-top: 80px;
  }

  header {
    background-color: #734e30;
    height: 80px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100vw;
    top:0;
    font-family: "Noto Serif JP", sans-serif;
  }
  header a {
    color: white; 
    text-decoration: none; 
  }
  a:hover {
    color: #d59f62;
  }
  header h1 {
    color: white;
    margin-left: 20px;
    font-family: 'Book Antiqua', cursive;

  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 30px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: #000;
    height: 30px;
    width: 100%;
    background-color: white;
    bottom: 0%;
  }