// Place all the styles related to the ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

h1{
    text-align:center;
    color: #fff;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
    background-image:url("senga2.png");
    padding: 50px;
    background-attachment: fixed;
    }
