@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

h1{
 color: white;
 text-align: center;
}
.syousai{
 border: 2px solid white;
 margin-right: 200px;
 margin-left: 200px;
 height:500px ;
}
.tweet{
  display: inline-block;
  vertical-align: top;
  
}
.gazou{
    display: inline-block;
    margin-right: 0%;
    vertical-align: top;
    
  
}